<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/habilidades.css">
    <title>Curriculum</title>
</head>

<body>
    <div class="contenedor">
        <div class="navbar">
            <img src="/img/hoja-de-papel.png" class="logo">
            <%-include('templates/nav'); %>
            <img src="" class="menu-icono">
        </div>
    </div>
<div class="field">
    <fieldset class="contenido">


        <h1>Habilidades</h1>
        <div class="col">
            <br>
            <ul class="ul-main">
                <li>Bachiller basico con varias habilidades. Altamente responsable,</li>
                <li>creativo,recursivo,asumo con responsabilidad los retos y metas que la organizacion me plante:</li>
                <li>adaptabilidad al cambio, con buen manejo de relaciones interpersonales.</li>
            </ul>
            <br>
            <br>
        <h1>Hobbies</h1>
            <div class="col">
                <br>
                <ul class="ul-main">
                    <li>Uno de mis hobbies es el deporte nos ayuda a mejorar el estado de salud y la forma física.  </li>
                    <li>la mayoría de la gente tiene preferencia por ir a un gimnasio o hacer deporte al aire libre,</li>
                    <li>en cambio en nuestros hogares podremos realizar una gran cantidad de actividades .</li>
                </ul>
        </div>
       

    </div>
    </fieldset>
   
</div>
<%-include('templates/footer'); %>
</body>

</html>