<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/curri.css">
    <title>Curriculum</title>
</head>

<body>
        <div class="contenedor">
            <div class="navbar">
                <img src="/img/hoja-de-papel.png" class="logo">
                <%-include('templates/nav'); %>
                <img src="" class="menu-icono">
            </div>
        </div>
        <br>
        <br>
        <div class="fild-main">
        <fieldset>

            <br>

            <h1>Juan Diego Betancourth Ortiz</h1>
            <br>
            <img src="/img/juan.jpeg" alt="3x4">

            <br>
            <br>

            <div class="col">
                <legend>Datos generales</legend>
                <br>
                <ul>
                    <li>Localidad: Usme</li>
                    <li>Direccion Residencial: diagonal-100-d-sur-1-d-87</li>
                    <li>Cedula: 1031801387</li>
                    <li>Fecha Nacimiento: 21-05-2004</li>
                    <li>Correo Personal: juandiegoletgo@gmail.com</li>
                    <li>Correo sena: jdbetancourth78@misena.edu.co</li>
                </ul>
                <br>
                <br>
        </fieldset>
    </div>
        </div>

        </div>
    <%-include('templates/footer'); %>
</body>

</html>