<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/academico.css">
    <title>Curriculum</title>
</head>

<body>
        <div class="contenedor">
            <div class="navbar">
                <img src="/img/hoja-de-papel.png" class="logo">
                <%-include('templates/nav'); %>
                <img src="" class="menu-icono">
            </div>
        </div>
        <br>
        <br>
        <div class="field">
        <fieldset>

            <br>

            <h1>Logros Academicos</h1>
            <br>
            <br>

            <div class="col">
                <legend>Estudios Secundarios</legend>
                <br>
                <ul>
                    <li>Instituto: Colegio Diego Montaña Cuellar</li>
                    <li>Titulo Obtenido: Primaria</li>
                    <li>Ciudad y Fecha: Bogota D.C,2015</li>
                    <br>
                    <li>Instituto: Colegio Diego Montaña Cuellar</li>
                    <li>Titulo Obtenido: Basica Bachiller</li>
                    <li>Ciudad y Fecha: Bogota D.C,2021</li>
                </ul>
                <br>
                  <legend>Otros</legend>
                  <ul>
                    <li>Instituto: Sena</li>
                    <li>Titulo Obtenido: Tecnico En Programacion</li>
                    <li>Ciudad y Fecha: Bogota D.C,2021</li>
                </ul>
                <br>
                <br>
            </div>
        </fieldset>
        

        </div>
    </div>
    <%-include('templates/footer'); %>
</body>

</html>