<!DOCTYPE html>
<body>
   <nav>
    <ul>
        <li><a href="/">DATOS GENERALES</a></li>
        <li><a href="/habilidades">HABILIDADES</a></li>
        <li><a href="/edu">LOGROS ACADEMICOS</a></li>
    </ul>
</nav> 
</body>
</html>
